<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>ChatApp</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
     <link rel='stylesheet' type='text/css' media='screen' href='~/css/site.css'>
    @*<script src='main.js'></script> *@
</head>
<body>
    <div class="navbar"></div>
<div class="main">

    <div class="side-menu">
        <a class="chatroom-button" href="">Room</a>

        <a class="chatroom-button" href=""><strong>+</strong></a>

    </div>
    <div class="side-chat">@RenderBody()</div>
    </div>
</body>
</html>